:root {
  --primery-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --backround-color: #f5f5f5;
  --logo-web-color: #000000;
  --background-btn: #f5f4fa;
  --text-btn-accent: #ffffff;
  --footer-adress-text: rgba(255, 255, 255, 0.6);
  --footer-backround-color: #2f303a;
}

/* ----------------------------body portfolio studio---------------------------------- */
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primery-color);
}

/*---------------------------- Header portfolio studio----------------------------- */

/* ---логотип--- */
.header-studio {
  color: var(--logo-web-color);
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* ---сторінки сайту портфоліо--- */
.list {
  list-style-type: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primery-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list .link.current {
  color: var(--accent-color);
}

/* ---контакти шапки--- */
.header-adress {
  list-style-type: none;
}

.header-mail,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}

.header-phone:focus,
.header-phone:hover,
.header-mail:focus,
.header-mail:hover {
  color: var(--accent-color);
}

/*----------------------------- Main portfolio studio----------------------- */

/*---кнопки фільтра портфоліо--- */
.main-list-btn {
}

.button {
  font-family: inherit;
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-btn);
  color: var(--primery-color);
  border: none;
}

.button:hover,
.button:focus {
  color: var(--text-btn-accent);
  background: var(--accent-color);
  cursor: pointer;
}

.main-link-btn {
  list-style-type: none;
}

/* ----кнопка студія----- */
.button-studio {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

.button-studio:hover,
.button-studio:focus {
  color: var(--accent-color);
  background: var(--text-btn-accent);
  cursor: pointer;
}

/*---фото и текст портфоліо--- */
.main-list {
  list-style-type: none;
}

.main-link-lead {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.main-link-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* -------Студія------ */

.solution {
  background-color: var(--footer-backround-color);
}

.solution-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-btn-accent);
}

/* ---переваги студія--- */
.benefits {
  list-style-type: none;
}

.benefits-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits-subtext {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* ----about studio--- */
.text-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.about-pictures {
  list-style-type: none;
}

/* -----team studio-------- */
.team {
  background-color: var(--background-btn);
}

.team-foto {
  list-style-type: none;
}

.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.hero-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*------------------------- Footer portfolio studio-------------------------*/
.footer-studio {
  color: var(--text-btn-accent);
}

footer {
  width: 1600px;
  height: 252px;
  background: var(--footer-backround-color);
}

.footer-adress {
  list-style-type: none;
}

.footer-adress a {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-adress-text);
}

.footer-adress .map {
  color: var(--text-btn-accent);
}

.map:hover,
.map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}
